@import"variables";

/* MENU BOOTSTRAP */
.container-fluid{
    background-color: $fondoMenu;
    height: $height -30;    
}
.collapse{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}
nav{
    z-index: 100;
 
}
.nav-item{
    padding: 15px;
    text-align: center;    
}