@import"variables";

@media (min-width: 600px) and (max-width: 1023px){
.collapse{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.nav-item{
    text-align: center;
}

.mainFrase__p{
    text-align: center;
    padding-top: 20px;
}
.mainSobreMi{
    height: ($height*4) +50;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.mainCuidados{  
    height: ($height*8) +40;    
    
    ul{
        padding-left: 40px;
        padding-right: 40px;
    }
    .cuidadosExtra{
        padding-top: 20px;
    }
} 
.mainContacto__info h1{
    font-size: 20px;
}
.mainContacto__info p{
    text-align: start;
    padding-top: 20px;
    font-size: 18px;
}
.responsive-tablet{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.hrFinal{
    display: none;
}
.footerInfo{
    height: $height +70;
    display:  flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    .footerInfo__div1{
        text-align: start;
        padding-top: 40px;
    }
    .footerInfo__div2{
        text-align: end;
    }
             
} 

    
}

@media (min-width: 1024px){    
.collapse{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.nav-item{
    padding-right: 100px;
    transition: 0.8s;
}
.nav-item:hover{
    font-size: 30px;
    transition: 0.8s;
}
.mainCover{        
    height: ($height*7) +30; 
    h1{
        letter-spacing: 50px;        
        padding-top: 320px;
        padding-left: 100px;
    }            
}    
.mainFrase p{
    font-size: 20px;
    padding-top: 10px;    
}
.mainSobreMi{   
    height: ($height*5) +50; ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 50px;
    .mainSobreM__parrafo--h2 {   
        font-size: 40px;
        padding-bottom: 10px;
    } 
    .mainSobreMi__parrafo--a{
        transition: 0.5s;        
    }
    .mainSobreMi__parrafo--a:hover{
        color: rgb(255, 252, 252);
        font-size: 22px;
        color: lightslategrey;
        transition: 0.5s;
    }
    .mainSobreMi__img--img{
        display: flex;
        width: $width *3;
        height: ($height*4) +50;
    }   
}            

.footerInfo{
    height: $height +70;
    display:  flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 20px;
        .footerInfo__div1{
            text-align: start;
            padding-top: 40px;
        }
        .footerInfo__div2{
            padding-top: 40px;
            text-align: end;
            p{
                font-size: 20px;
        }
    }       
}  
  
/* inicio main art y tattoo*/
.mainArt_img{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-auto-rows: repeat (2, 1fr); 
    img:hover{
        filter: grayscale(30%);
        border: solid 1px black;
        transform: scale(1.2);
        transition: 0.8s;
        z-index: 100;
    }
}
   
/*inicio main cuidados*/
.mainCuidados{  
    height: ($height *7) +50;
    .cuidadosLista li{
        font-size: 16px;
        letter-spacing: 1px;
    }
    .cuidadosExtra{
        padding-top: 5px;
        font-style: oblique;
        letter-spacing: 1px;
    }
}
    
/*inicio main contacto*/
.mainContacto{       
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.mainContacto__info{
    padding-top: 20px;
    text-align: start;
    h1{    
    padding-top: 40px;
    font-size: 24px;
    }
    p{
        font-size: 18px;
        letter-spacing: 0.5px;
   }
}
iframe{
    width: $width *4;
    height: $height *3;
}
.mainContacto__info--frase{
    font-style: oblique;
    padding-top: 20px;       
}
.mainContacto__info--gracias{
    font-style: oblique;           
}

.bi {
    width: $width -80;
    height: $height -80;
    margin: 5px;
}
}